.roulette {
    border: 1px solid red;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.roulette-pic {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.roulette-desc {
    border: 1px solid blue;
    width: 90%;
}

.thumbs {
    display: flex;
    border: 1px solid pink;
    width: 15%;
    justify-content: space-around;
}
