.profile {
    /* border: 1px solid red; */
}

.profile-title {
    text-align: center;
}

.nav {
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-bar {
    border: 1px solid blue;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    /* border: 1px solid purple; */
}

.your_movies {
    border: 3px solid red;
}

.movie_group {
    border: 4px solid pink;
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

.movie_list {
    list-style: none;
    border: 3px solid purple;
    padding: 10px;
    flex: 1 0 21%; /* explanation below */
}


