.profile-title {
    text-align: center;
}

.nav {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.nav h1, .nav a  {
    color: #f2f2f2;
    text-decoration: none;
}

.nav-bar {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.your_movies, .watched_movies, .profile {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.movie_group, .watch_again_group {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 899px) {
    .movie_group {
        justify-content: center;
    }
}

.profile-title {
    margin-top: 130px;
}

.genre {
    margin-top: 20px;
}

img {
    max-width: 320px;
    max-height: 260px;
}

ul {
    padding: 0;
    list-style: none;
}

.movie_list, .watched_movies_list {
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    flex-basis: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
  }
  
.movie_list_button {
    /* margin: auto auto 0; */
    margin-top: auto;
  }

.movie_list_button button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    transition: font-size 0.5s;
}

.movie_list_button button:hover {
    cursor: pointer;
    font-size: 15px;
}


