.signup_page  {
    display: flex;
    height: 100vh;
}

.signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.signup_form h1 {
    color: white;
}

.form_wrapper {
    list-style: none;
}

.form_row {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}

.form_row input {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.form_row input, select, textarea {
    color: white
}

.form_row input:focus {
    outline: none;
}

.form_row input:focus::placeholder {
    color: transparent;
}

.form_row input::placeholder {
    color: white;
}

.form_row button {
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.signup_form button:hover {
    cursor: pointer;
}

.login_link {
    text-decoration: none;
    color: #4F4C4C;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: medium;
}

.form_alert {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}