.roulette_content {
    width: 100%;
    /* height: 100vw; */
}

.roulette_content h1 {
    text-align: center;
}

.roulette {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

img {
    max-width: 620px;
    height: 460px;
}

.roulette-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.roulette-desc {
    /* border: 1px solid red; */
    margin-top: 20px;
    text-align: center;
    width: 90%;
    height: 100px;
    padding: 8px;
}

.thumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.thumbs button {
    background-color: transparent;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.thumbs button:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
